<!-- Banner -->
  <section id="banner">
    <%= link_to "Faisons une partie du jeu des lettres", new_game_path, class: "h1-btn" %>
    <p>Un jeu développer par Alexis pour la team du Wagon</p>
  </section>
